/* FONT */
@import url("https://fonts.googleapis.com/css?family=Lato");

/*zhatki*/
/* Main Tabs */
label {
    background-color: #00262f;
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
    padding: 8px;
    font-size: 14px;
}

label:hover {
    background-color: #02404b;
}

label input:checked {
    background-color: red;
}

.tab-radio, .pr-tab-radio, .v-tab-radio, .t-tab-radio {
    display: none;
}

/* Tabs behaviour, hidden if not checked/clicked */
.sub-tab-content, .tab-content,
.pr-sub-tab-content, .pr-tab-content,
.v-sub-tab-content, .v-tab-content,
.t-sub-tab-content, .t-tab-content {
    display: none;
}

.sub-tab-content h1,
.pr-sub-tab-content h1,
.v-sub-tab-content h1,
.t-sub-tab-content h1,
.sub-tab-content h2,
.pr-sub-tab-content h2,
.v-sub-tab-content h2,
.t-sub-tab-content h2,
.sub-tab-content h3,
.pr-sub-tab-content h3,
.v-sub-tab-content h3,
.t-sub-tab-content h3{
    text-align: left;
}

.tab-radio:checked + .tab-content,
.tab-radio:checked + .sub-tab-content,
.pr-tab-radio:checked + .pr-tab-content,
.pr-tab-radio:checked + .pr-sub-tab-content,
.v-tab-radio:checked + .v-tab-content,
.v-tab-radio:checked + .v-sub-tab-content,
.t-tab-radio:checked + .t-tab-content,
.t-tab-radio:checked + .t-sub-tab-content{
    display: block;
}

/* Sub-tabs */
.sub-tabs-container label,
.pr-sub-tabs-container label,
.v-sub-tabs-container label,
.t-sub-tabs-container label{
    background-color: #cddc39;
    color: #030700;
}

.sub-tabs-container label:hover,
.pr-sub-tabs-container label:hover,
.v-sub-tabs-container label:hover,
.t-sub-tabs-container label:hover {
    background-color: #AFB42B;
}

/* Tabs Content */
.tab-content,
.pr-tab-content,
.v-tab-content,
.t-tab-content {
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    /*box-shadow: 2px 10px 6px -3px rgba(0, 0, 0, 0.5);*/
    text-align: justify;
}

/* General */
*, *:hover {
    transition: all .3s;
}