@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/

/* Small Screens */
@media only screen and (max-width : 1050px)
  .questions-section
    .questions
      width: auto

/* Medium Devices, Desktops */
@media only screen and (max-device-width : 992px)
  body, h1, h2, h5
    text-align: left
  .main-header
    h1
      font-size: 3rem
  .welcome-section
    grid-template-columns: 1fr
    .welcome-right
      height: 500px
    .welcome-left
      margin-left: 0
      h1
        font-size: 1.5rem
      p
        font-size: 1rem

  .products-epilogue, .full-history
    text-align: left
      
  .offers
    grid-template-columns: 1fr 1fr
    width: 600px
    .float-right
      margin-right: 0
    .float-left
      margin-left: 0
    .top-card-3, .top-card-4
      margin-top: 0

    .goods, .pristavki, .valkov, .trolley
      overflow-y: scroll


  .re-equipment-section
    grid-template-columns: 1fr
    .re-equipment-right
      display: none

  .company-section
    grid-template-columns: 1fr
    .company-left
      height: 500px
    .company-right
      padding: 40px
      h2, p
        text-align: left
      p
        font-size: .9rem
      .counter
        .counter-item
          width: 200px
          margin: auto

  .questions-section
    h1, h2, h3, h4, h5, p
      text-align: center
    .questions
      .phones
        line-height: .7

  .footer
    .footer-info
      grid-template-columns: 1fr
      .trust
        padding: 0
      .phone-no
        text-align: center
        padding: 0
      .schedule
        text-align: center
        padding: 0
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .navbar
    .navigation
      grid-template-columns: 8fr 1fr 1fr
      .menu
        margin: 0 .5rem 0 0

  .offers
    width: 480px
    .offer-card
      width: 190px
      .offer3-img
        .offer-text
          h3
            line-height: 0
      .offer-text
        .green-button
          font-size: .8rem
          width: 160px
          margin-left: auto
          margin-right: auto

  .company-section
    .company-left
      display: none
    .company-right
      .counter
        grid-template-columns: 1fr
        margin: 0 auto
        .counter-item
          margin: auto
          width: 200px

  .questions-section
    .questions
      background-size: auto
      h1
        font-size: 1.5rem

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .navbar
    .navigation
      .menu
        padding: 1rem .3rem
        a
          font-size: .9rem
          margin: 0 0 0 .6rem
      .email
        margin: 0 .3rem

  .main-header
    .appear-animation
      margin-left: 2rem
    h1
      font-size: 2rem
    p
      margin-top: 7rem
      font-size: 13px

  .offers
    grid-template-columns: 1fr
    width: 320px
    .offer-card
      width: 250px
      .green-button
        padding: .5rem
        margin: 0 1rem
        position: relative
        bottom: 15px
    .float-right
      margin-right: auto
    .float-left
      margin-left: auto
    .top-card-2
      margin-top: 0

  .questions-section
    .questions
      h1
        font-size: 1.5rem
      .phones
        h1
          font-size: 2rem

  .welcome-section
    .welcome-left
      p
        text-align: left
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  .questions-section
    text-align: center
    .questions
      width: 100%
      padding: 10px

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

