@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-device-width : 992px)
  .main-header
    h1
      font-size: 3rem
  .welcome-section
    grid-template-columns: 1fr
    .welcome-right
      height: 500px

  .offers
    grid-template-columns: 1fr 1fr
    width: 600px
    .float-right
      margin-right: 0
    .float-left
      margin-left: 0
    .top-card-3, .top-card-4
      margin-top: 0

  .goods, .pristavki, .valkov, .trolley
    overflow-y: scroll
    h1
      padding-left: 20px


  .company-section
    grid-template-columns: 1fr
    .company-left
      height: 500px
    .company-right
      h2
        margin: auto
        text-align: center
      .counter
        .counter-item
          width: 200px
          margin: auto

  .footer
    .footer-info
      grid-template-columns: 1fr
      .trust
        padding: 0
      .phone-no
        text-align: center
        padding: 0
      .schedule
        text-align: center
        padding: 0
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .company-section
    .company-right
      h2
        text-align: center
      .counter
        grid-template-columns: 1fr
        margin: 0 auto
        .counter-item
          margin: auto
          width: 300px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .main-header
    .appear-animation
      margin-left: 2rem
    h1
      font-size: 2rem
    p
      margin-top: 7rem
      font-size: 13px

  .offers
    grid-template-columns: 1fr
    width: 320px
    .offer-card
      width: 250px
      .green-button
        margin: 0 auto
    .float-right
      margin-right: auto
    .float-left
      margin-left: auto
    .top-card-2
      margin-top: 0

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

