@import "fonts"
@import "libs"
@import "base"
@import "vars"

// Пользовательские стили
.grid
  display: grid

.container
  width: 1200px
  justify-content: center
  margin: auto

//header
.main-header
  position: relative
  background-image: url(../img/Berdzavod-slider-bg.webp)
  overflow: hidden
  -webkit-background-size: cover
  background-size: cover
  min-height: 100%
  font-family: arial
  color: white
  z-index: 1
  &::before
    z-index: -1
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: #293a43
    opacity: .4
  h1
    margin: 0 0 0 5rem
    font-size: 4rem
    line-height: 1
    text-align: left
  p
    margin: 11rem 0 3rem 5rem
    padding: 0
    text-align: left
  .header-text
    grid-column: 1/2
    grid-row: 3/4
    margin: 2rem 0 0 5rem
  .green-button
    margin: 6rem 0 0 5rem
    padding: 1rem
    bottom: 2rem
    width: 200px
    background-color: rgb(9, 160, 72)
    text-align: center
    &:hover
      background-color: rgb(9, 200, 72)

//content
//welcome section
.welcome-section
  grid-template-columns: repeat(2,1fr)
  font-family: arial, sans-serif
  color: #09a048
  line-height: 1
  background-color: #293a43
  opacity: .9
  .welcome-left
    text-align: justify
    margin: 0 0 0 20px
    padding: 40px
    h1
      font-size: 2rem
      margin-bottom: 2rem
      text-align: center
    p
      font-family: arial, sans-serif
      font-size: 14pt
      color: $white-text
      line-height: 1.4
  .welcome-right
    background-image: url(../img/pereoborudovaniye-zhatki.gif)
    -webkit-background-size: cover
    background-size: cover
    z-index: 1
    position: relative
    padding: 40px
    margin: 20px 20px
    height: 95%
    overflow: hidden

//offers section
.offers
  width: 1000px
  grid-template-columns: repeat(4,1fr)
  grid-column-gap: 10px
  justify-content: center
  margin: auto
  background-color: whitesmoke
  -webkit-background-size: cover
  background-size: cover
  a
    text-decoration: none
    color: black
    &:hover
      color: rgb(9, 160, 72)
      cursor: pointer
  .offer
    width: 250px
    height: 300px
    justify-content: center
    margin: auto
    box-shadow: 0 0 5px rgba(0,0,0,0.5)
    text-align: center
    p
      font-size: .9rem
    .offer-heading
      h3
        font-family: arial, helvetica, sans-serif
        font-size: 1rem
        margin-bottom: .7rem
    .offer-card
      width: 250px
      height: 300px
      overflow: hidden
      justify-content: center
      margin: auto
      .offer1-img, .offer2-img, .offer3-img, .offer4-img
        -webkit-background-size: cover
        background-size: cover
        background-position: center
        width: 100%
        height: 100%
        transition: transform 0.3s ease-in-out
        &:hover
          transform: scale(1.1)
      .offer1-img
        background-image: url(../img/Berdzavod-offer-pic1.webp)
      .offer2-img
        background-image: url(../img/Berdzavod-offer-pic2.webp)
      .offer3-img
        background-image: url(../img/Berdzavod-offer-pic3.webp)
      .offer4-img
        background-image: url(../img/Berdzavod-offer-pic4.webp)






@import "media" // Всегда в конце
