@import "fonts"
@import "libs"
@import "base"
@import "vars"

// Пользовательские стили
.grid
  display: grid

.container
  max-width: 1200px
  justify-content: center
  margin: auto

//header
.main-header
  position: relative
  background-image: url(../img/Berdzavod-slider-bg.webp)
  overflow: hidden
  -webkit-background-size: cover
  background-size: cover
  min-height: 100%
  font-family: Arial
  color: white
  z-index: 1
  &::before
    z-index: -1
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: $gray
    opacity: .4
  h1
    margin: 0 0 0 5rem
    font-size: 4rem
    line-height: 1
    text-align: left
  p
    margin: 11rem 0 3rem 5rem
    padding: 0
    text-align: left
  .header-text
    grid-column: 1/2
    grid-row: 3/4
    margin: 2rem 0 0 5rem

//content
//welcome section
.welcome-section
  grid-template-columns: 1fr 1fr
  font-family: arial, sans-serif
  color: #09a048
  line-height: 1
  background-color: #293a43
  opacity: .9
  .welcome-left
    text-align: justify
    margin: 0 0 0 20px
    padding: 40px
    h1
      font-size: 2rem
      margin-bottom: 2rem
      text-align: center
    p
      font-family: arial, sans-serif
      font-size: 14pt
      color: $white-text
      line-height: 1.4
      margin-bottom: 0
  .welcome-right
    background-image: url(../img/Zhatka-podborshchik-Valkov.gif)
    -webkit-background-size: cover
    background-size: cover
    z-index: 1
    position: relative
    padding: 40px
    margin: 0
    width: 100%
    height: 100%
    overflow: hidden

//offers section
.offers
  width: 1000px
  grid-template-columns: repeat(4,1fr)
  grid-column-gap: 10px
  justify-content: center
  margin: auto
  background-color: whitesmoke
  -webkit-background-size: cover
  background-size: cover
  h3
    font-family: arial, helvetica, sans-serif
    font-size: 1rem
    margin: 0 10px .7rem
    padding-top: 3rem
  p
    font-size: .9rem
    padding: 10px
  a
    text-decoration: none
    color: black
    &:hover
      color: white
      cursor: pointer

  .offer-card
    margin: auto
    box-shadow: 0 0 5px rgba(0,0,0,0.5)
    text-align: center
    z-index: 1
    width: 250px
    height: 300px
    overflow: hidden
    justify-content: center
    color: white
    .offer1-img, .offer2-img, .offer3-img, .offer4-img
      -webkit-background-size: cover
      background-size: cover
      background-position: center
      width: 100%
      height: 100%
      transition: all 0.3s ease-in
      position: relative
      &:hover
        transform: scale(1.1)
      &::before
        z-index: 0
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background-color: $gray
        opacity: .4
      .offer-text
        position: relative
        z-index: 1
    .offer1-img
      background-image: url(../img/Berdzavod-offer-pic1.webp)
    .offer2-img
      background-image: url(../img/Berdzavod-offer-pic2.webp)
    .offer3-img
      background-image: url(../img/Berdzavod-offer-pic3.webp)
    .offer4-img
      background-image: url(../img/Berdzavod-offer-pic4.webp)

//company section
.company-section
  grid-template-columns: 4fr 3fr
  font-family: arial, sans-serif
  color: $gray
  line-height: 1
  background-color: ghostwhite
  .company-right
    text-align: justify
    margin: 0 0 0 20px
    padding: 40px
    .green-button
      margin: 2rem 0
      bottom: 0
    h2
      font-size: 2rem
      margin-bottom: 2rem
      text-align: left
    p
      font-family: arial, sans-serif
      font-size: 1rem
      color: $gray
      line-height: 1.4
      margin-bottom: 0
  .company-left
    background-image: url(../img/pereoborudovaniye-zhatki.gif)
    -webkit-background-size: cover
    background-size: cover
    z-index: 1
    position: relative
    padding: 40px
    margin: 0
    height: 100%
    width: 100%
    overflow: hidden

//contact section
.contact-section
  background-color: rgb(9, 150, 72)
  .contact-layout
    grid-template-columns: 4fr 3fr
    font-family: arial, sans-serif
    color: white
    line-height: 1
    background-color: rgb(9, 150, 72)
    .contact-left
      text-align: justify
      margin: 0 0 0 20px
      padding: 40px
      h1
        margin-top: 1rem
        font-size: 4rem
      .certificate
        grid-template-columns: 1fr 3fr
        .certificate-pic
          padding: 30px
      .white-button
        margin: 2rem 0
        bottom: 0
      h2
        font-size: 2rem
        margin-bottom: 2rem
        text-align: left
      p
        font-family: arial, sans-serif
        font-size: 1rem
        line-height: 1.4
        margin-bottom: 0
    .contact-right
      grid-column: 2/3
      background-image: url(../img/Berdzavod-about-pic2.jpg)
      -webkit-background-size: cover
      background-size: cover
      z-index: 1
      position: relative
      padding: 40px
      margin: 0
      height: 100%
      width: 100%
      overflow: hidden

//re-equipment section
.re-equipment-section
  grid-template-columns: 4fr 3fr
  font-family: arial, sans-serif
  color: $gray
  line-height: 1
  background-color: ghostwhite
  .re-equipment-right
    text-align: justify
    margin: 0 0 0 20px
    padding: 40px
    .green-button
      margin: 2rem 0
      bottom: 0
    h2
      font-size: 2rem
      margin-bottom: 2rem
      text-align: left
    p
      font-family: arial, sans-serif
      font-size: 1rem
      color: $gray
      line-height: 1.4
      margin-bottom: 0
  .re-equipment-left
    background-image: url(../img/zhatka-dlya-uborki-podsolnechnika.gif)
    -webkit-background-size: cover
    background-size: cover
    z-index: 1
    position: relative
    padding: 40px
    margin: 0
    height: 100%
    width: 100%
    overflow: hidden

//  
.questions-section
  background: linear-gradient(to top, rgb(9, 160, 72) 50%, white 50%)
  .questions
    justify-content: center
    max-width: 1060px
    font-family: arial, sans-serif
    color: white
    line-height: 1
    background-color: #062c5e
    text-align: center
    margin: 2rem auto 0
    padding: 40px
    background-image: url(../img/Berdzavod-wrapbg3.png)
    background-repeat: no-repeat
    background-position: center
    .phones
      h1
        font-size: 3rem
        margin-bottom: 2rem
        color: rgb(9, 160, 72)
    .white-button
      justify-content: center
      margin: auto

.footer
  background-image: url(../img/Berdzavod-footerbg-1.webp)
  -webkit-background-size: cover
  background-size: cover
  .container
    max-width: 1080px
    grid-template-columns: 2fr 1fr 1fr
    grid-gap: 20px
    justify-content: center
    color: white

    .trust
      padding: 30px
      text-align: center
    .phone-no, .schedule
      padding: 30px 10px 0
  .copyright
    color: white
    text-align: center
    padding: 30px
    a
      color: white
      &:hover
        text-decoration: underline

@import "media" // Всегда в конце
